body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    overflow: hidden;
}

.menu-header {
    padding: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.menu-items {
    display: none; /* Ocultar por defecto */
}

.menu-item {
    padding: 10px;
    transition: all 0.3s ease;
}

.menu-item:hover {
    font-size: 1.2em;
    color: #39FF14; /* Verde fosforescente */
}

.menu-item.active {
    color: #800080; /* Morado fosforescente */
    font-weight: bold;
}

.content {
    margin-left: 270px; /* Para dejar espacio al menú */
    padding: 20px;
}

.image-slider {
    position: relative;
}

.image-slider img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
    }
}
